#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px; /* Adjust the gap between the grid items as needed */
  width: 76vw;
}

#calendar-container {
  background-color: var(--bg-color);
  border-radius: 30px;
  padding: 1em;
}

.day {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.active-week.active-day {
  background-color: var(--active-color);
}

.active-week {
  background-color: var(--active-week-color);
}

.month-label {
  font-size: 2em;
}

.controls {
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.controls button {
  background-color: var(--active-week-color);
  border-radius: 12px;
  padding: 8px;
}
