#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px; /* Adjust the gap between the grid items as needed */
  width: 74vw;
}

@media screen and (max-width: 600px) {
  #calendar {
    width: unset;
  }
  #calendar-container {
    transform: scale(0.78);
  }
  .user-controls {
    font-size: 0.8em;
  }
}

#calendar-container {
  background-color: var(--bg-color);
  border-radius: 30px;
  padding: 1em;
}

.user-button {
  background-color: var(--active-color);
  border-radius: 12px;
  padding: 6px 8px;
  gap: 8px;
}

.day {
  height: 80px;
  display: flex;
  padding: 8px 14px;
  /* justify-content: left;
  align-items: left; */
  border-radius: 12px;
  background-color: var(--inactive-day-color);
}

.empty-day {
  background-color: unset;
}

.active-week.active-day {
  background-color: var(--active-color);
}

.active-week {
  background-color: var(--active-week-color);
}

.month-label {
  font-size: 2em;
}

.user-controls {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.month-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.month-controls button {
  background-color: var(--active-week-color);
  border-radius: 12px;
  padding: 8px;
}

.creating-event {
  min-height: 140px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.active-day.creating-event {
  flex-direction: column;
  border: 2px solid white;
  justify-content: space-between;
}

.select-event-day {
  background-color: var(--bg-color);
  /* padding: 14px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
}
