@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./calendar.css);

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 12, 12, 12;
  --active-color: #610ee6;
  --active-week-color: #0e0e0e;
  --bg-color: #201c1c;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-end-rgb));
}

input,
select {
  background-color: #2b2b2b;
  border-right: 10px solid #2b2b2b;
  margin-right: 8px;
  padding: 8px;
  border-radius: 8px;
}

label {
  padding-right: 8px;
}

form > div {
  margin: 8px 0;
}

form button {
  background-color: var(--active-week-color);
  border-radius: 12px;
  padding: 8px;
}

form button:hover {
  background-color: var(--active-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
